{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<section id="home" class="mutualWrap sectP">
<div class="flexslider-home">
  <ul class="slides">
     
     {% for slide in slides %}
       <li>
     <img src="{{MEDIA_URL}}{{slide.image}}" alt="" />
      
     </li>
       
   {% endfor %}
      
  </ul>

  </div><!--end flexslider-->
  
</section><!--end-home-->

<!--END SECTION HOME-->

<!--BEGIN SECTION ABOUT-->
<section id="join-team" class="mutualWrap shadow">
<div class="container">
<div class="row">
<div class="span12 sub-sec-title">
 
<div class="sub-sec-title">  
<h1><strong>ABOUT</strong></h1>
</div>
<h3 class="section-quote" style="font-size: 20px;">
  The National Malaria Elimination Programme (NMEP) and supporting Partners have commenced the Long Lasting Insecticidal Nets (LLIN) replacement campaign in 17 states across Nigeria and has created this portal for tracking the ongoing project, this aims at having a centralized point of inflow and outflow of LLIN campaign information.
By using Geographic information system (GIS) applications and interactive infographics web application, LLIN replacement campaign data and report can be analyzed, managed and retrieved at any given time. This will create an interactive stage for stakeholders to follow up the ongoing activities in the selected states and also give support in areas where necessary. 

  
</h3>

       
	      

</div><!--end row TEAM -->


</div><!--end row -->

</div><!--end span12 -->
</div><!--end row -->
</div><!--end container -->
</section><!--end-about-->

<!--END SECTION ABOUT-->

<!--BEGIN SECTION BLOG-->
 

<!-- END BLOG -->



<!--BEGIN SECTION CONTACT-->
<section id="contact" class="mutualWrap sectP">
<div id="world-map">
<div class="row">
<div class="span12">
<img src="{% static "images/world-map.png" %}" alt="" />
</div>
</div>
</div>
<div class="container">
<div class="row">
<div class="span12">

<div class="icon">
<img src="{% static "images/icon-contact.png" %}" alt="" />
</div><!--end icon -->

<h2 class="section-title">Contact Us</h2>

<div class="row">


<div class="span4">

    <h4 class="trigger"><a href="#office0">Abuja Office</a></h4>
     
    <div id="office0" class="toggle_container">
   <p>
     
<strong>Address:</strong> F15 Febson Mall, Wuse Zone 4. Abuja<br/>

<strong>Phone:</strong> (+234) 803 285 2549<br/>

<strong>Email:</strong> shokami@yahoo.com

     </p>    </div>

</div>


<div class="span4">

     
</div>


<div class="span4">

       
   
</div>

</div> <!--end row offices -->

<div class="row contact-form">

<form method="post" id="my-form2" action='{% url 'contactus' %}'>
{% csrf_token %}
     <div class="span7">
        <textarea name="message" id="message2" cols="100%" rows="11" tabindex="4"></textarea>
        
        <div id="output"></div>
        </div>
    
    <div class="span5">
<input type="text" name="name" id="author" class="comm-field"  value="Name" size="22" tabindex="1" onFocus="if(this.value=='Name')this.value='';" onBlur="if(this.value=='')this.value='Name';" />
   		<input type="text" name="email" id="email" class="comm-field" value="Email" size="22" tabindex="2" onFocus="if(this.value=='Email')this.value='';" onBlur="if(this.value=='')this.value='Email';"  />
   		<input type="text" name="subject" id="title" class="comm-field" value="Subject" size="22" tabindex="3" onFocus="if(this.value=='Subject')this.value='';" onBlur="if(this.value=='')this.value='Subject';" />
		<input name="submit" type="submit" id="submit" tabindex="5" style="width:90%;" value="Send Message" />
     </div>

 	</form>


</div><!--end row contact-form -->

{% endblock %}