 
{% load staticfiles %}

<div class="container">
<div class="row">
<div class="span12"  >

 <div id="logo"><a href="/">
 <img src="{% static "images/logo.png" %}" width="280" height="80" alt=""/></a>
 </div>
 
 <ul id="menu-my-menu" class="menu" style="margin-top:40px;">
 <li><a href="{% url 'listing' %}#top">Home</a></li>
 <li><a href="#join-team">About LLIN-A Project</a></li>
 <li><a href="{% url 'maps' %}">Data Analysis Tool</a></li>
 
 <li><a href="{% url 'states_list' %}">State Maps</a></li>

 {% if request.user.is_authenticated %}
 <li><a href="{% url 'logout' %}">Signout</a></li>
 
{% else %}
  <li><a href="{% url 'login' %}">Signin</a></li>
 <!--<li><a href="{% url 'register' %}">Signup</a></li>-->
{% endif %}

 <li><a href="{% url 'listing' %}#contact">Contact</a></li>
 </ul>

</div>
</div>
</div>

